/* =========================
RESEARCH LIBRARY
========================= */

.library-grid{

  display:grid;

  grid-template-columns:
  repeat(auto-fit,minmax(28rem,1fr));

  gap:3rem;

  margin-top:6rem;
}

.library-grid .card{

  min-height:22rem;

  text-decoration:none;

  display:flex;

  flex-direction:column;

  justify-content:flex-start;
}

.card-number{

  font-size:1.4rem;

  color:var(--gold-soft);

  letter-spacing:.2rem;

  margin-bottom:1.8rem;
}

/* =========================
TITLE
========================= */

/* TITLE */

.library-card h3{

  color:var(--gold-light) !important;

  margin-bottom:18px;

  font-family:'Cinzel', serif;

  font-size:34px;

  line-height:1.3;

  font-weight:600;
}

.library-card h3 a{

  color:inherit !important;

  text-decoration:none !important;

  transition:.3s ease;
}

.library-card:hover h3{

  color:var(--gold) !important;
}
