:root{

  /* GOLD */
  --gold:#c6a86a;
  --gold-light:#e7d2a2;
  --gold-soft:#5f4b24;

  /* DARK */
  --dark:#0f0f0f;
  --dark-soft:#171717;
  --dark-hover:#1f1f1f;

  /* LIGHT */
  --cream:#f5f1e8;
  --cream-soft:#ece4d6;
  --white:#ffffff;

  /* TEXT */
  --text-main:#f3ead7;
  --text-soft:#cfc2a8;

}
{

  background:var(--cream);

  color:var(--text-dark);

}
