:root{

  /* =========================
     GOLD
  ========================= */

  --gold:#b8924f;
  --gold-light:#c6a86a;
  --gold-soft:#7b5d2b;


  /* =========================
     BACKGROUND / SURFACE
  ========================= */

  --cream:#f4efe5;
  --cream-soft:#f1eadf;

  --white:var(--cream);


  /* =========================
     DARK
  ========================= */

  --dark:#0f0f0f;
  --dark-soft:#171717;
  --dark-hover:#1f1f1f;


  /* =========================
     TEXT (DARK THEME)
  ========================= */

  --text-main:#f2e7cf;
  --text-soft:#b79f78;


  /* =========================
     TEXT (LIGHT / CREAM THEME)
  ========================= */

  --text-dark:#1b1b1b;
  --text-soft-dark:#4f493f;

}
