/* =========================
LAYOUT SYSTEM
========================= */

.container{

  width:100%;

  max-width:140rem;

  margin:auto;

  padding:0 4rem;
}


/* =========================
SECTIONS
========================= */

section{

  padding:12rem 0;
}


.section-small{

  padding:8rem 0;
}


.section-large{

  padding:16rem 0;
}


/* =========================
GRID SYSTEM
========================= */

.grid{

  display:grid;

  gap:3rem;
}


.grid-center{

  place-items:center;
}


/* =========================
FLEX SYSTEM
========================= */

.flex{

  display:flex;

  align-items:center;
}


.flex-between{

  display:flex;

  align-items:center;

  justify-content:
  space-between;
}


.flex-center{

  display:flex;

  align-items:center;

  justify-content:center;
}


.flex-column{

  display:flex;

  flex-direction:column;
}


/* =========================
CENTER
========================= */

.center{

  display:flex;

  align-items:center;

  justify-content:center;
}


/* =========================
RESPONSIVE
========================= */

@media(max-width:768px){

  .container{

    padding:0 2rem;
  }

  section{

    padding:9rem 0;
  }

  .section-small{

    padding:6rem 0;
  }

  .section-large{

    padding:12rem 0;
  }

}
