/* =========================
RESET SYSTEM
========================= */

*,
*::before,
*::after{

  margin:0;

  padding:0;

  box-sizing:border-box;
}


/* =========================
DOCUMENT
========================= */

html{

  scroll-behavior:smooth;

  font-size:62.5%;
}


body{

  min-height:100vh;

  overflow-x:hidden;
}


/* =========================
MEDIA
========================= */

img,
picture,
video,
canvas,
svg{

  display:block;

  max-width:100%;
}


/* =========================
LINKS
========================= */

a{

  text-decoration:none;

  color:inherit;
}


/* =========================
LISTS
========================= */

ul,
ol{

  list-style:none;
}


/* =========================
FORM ELEMENTS
========================= */

button,
input,
textarea,
select{

  border:none;

  outline:none;

  background:none;

  font:inherit;
}


button{

  cursor:pointer;
}


/* =========================
TABLES
========================= */

table{

  border-collapse:collapse;

  border-spacing:0;
}
