/* =========================
ACADEMIC NETWORK
========================= */

.academic-network-section{

  padding:10rem 7%;

  background:#f3ede2;
}


/* TITLE */

.academic-network-section h2{

  text-align:center;

  font-size:4rem;

  margin-bottom:5rem;

  font-family:'Cinzel',serif;

  color:#111111;
}


/* GRID */

.network-links{

  display:grid;

  grid-template-columns:
  repeat(auto-fit,minmax(180px,1fr));

  gap:2rem;
}


/* CARD */

.network-card{

  background:#111111;

  border-radius:2rem;

  min-height:180px;

  padding:2.2rem;

  text-decoration:none;

  display:flex;

  flex-direction:column;

  align-items:center;

  justify-content:center;

  gap:1.5rem;

  transition:.35s ease;

  overflow:hidden;

  position:relative;
}


.network-card:hover{

  transform:
  translateY(-6px);
}


/* ICON */

.network-icon{

  width:74px;

  height:74px;

  border-radius:50%;

  overflow:hidden;

  display:flex;

  align-items:center;

  justify-content:center;

  transition:.35s ease;
}


/* LOGO */

.network-icon img{

  width:100%;

  height:100%;

  object-fit:cover;

  border-radius:50%;
}


/* NAME */

.network-card span{

  color:#d4b26a;

  font-size:1.7rem;

  font-weight:600;

  text-align:center;
}


/* CLICK EFFECT */

.network-card.network-open
.network-icon{

  transform:scale(2.4);
}


/* MOBILE */

@media(max-width:768px){

  .network-links{

    grid-template-columns:
    repeat(2,1fr);
  }

  .network-card{

    min-height:150px;
  }

  .network-icon{

    width:62px;

    height:62px;
  }
}