/* =========================
CARD SYSTEM
========================= */

.card{

  background:var(--dark-soft);

  border:.1rem solid var(--gold-soft);

  border-radius:2.8rem;

  padding:4rem 3.2rem;

  transition:.35s ease;

  box-shadow:var(--shadow);

  text-decoration:none;

  display:flex;

  flex-direction:column;

  justify-content:flex-start;

  min-height:22rem;
}

.card:hover{

  transform:translateY(-.8rem);

  border-color:var(--gold-light);
}

/* CARD NUMBER */

.card-number{

  font-size:1.4rem;

  letter-spacing:.2rem;

  color:var(--gold-soft);

  margin-bottom:1.8rem;
}

/* CARD TITLE */

.card-title{

  margin:0;

  font-size:3rem;

  line-height:1.4;

  color:var(--gold-light);

  font-weight:400;
}

/* CARD TEXT */

.card-text{

  margin-top:2rem;

  font-size:1.9rem;

  color:var(--text-soft);

  line-height:1.9;
}