/* =========================
FOOTER
========================= */

.site-footer{

  background:#d7e1e7;

  padding:10rem 7% 4rem;

  border-top:
  .1rem solid rgba(198,168,106,.20);
}


/* =========================
FOOTER CONTAINER
========================= */

.footer-container{

  width:min(140rem,100%);

  margin:auto;

  display:grid;

  grid-template-columns:
  1.5fr 1fr 1fr 1fr;

  gap:5rem;
}


/* =========================
BRAND
========================= */

.footer-brand{

  max-width:42rem;
}


/* HC LOGO */

.footer-logo{

  width:7rem;

  height:7rem;

  display:flex;

  align-items:center;

  justify-content:center;

  border-radius:2rem;

  background:var(--dark);

  border:.14rem solid
  rgba(198,168,106,.50);

  color:var(--gold);

  font-size:2.2rem;

  font-family:'Cinzel', serif;

  font-weight:700;

  margin-bottom:2rem;

  box-shadow:
  0 .6rem 1.8rem
  rgba(0,0,0,.08);

  transition:.35s ease;
}

.footer-logo:hover{

  transform:translateY(-.2rem);

  background:#612c2c;

  border-color:var(--gold-light);

  color:var(--gold-light);
}


/* BRAND TITLE */

.footer-brand h3{

  font-size:2.6rem;

  color:var(--gold);

  margin-bottom:1.2rem;

  font-family:'Cinzel', serif;
}


/* BRAND DESCRIPTION */

.footer-brand p{

  font-size:1.7rem;

  line-height:1.9;

  color:#4d545a;
}


/* =========================
FOOTER LINKS
========================= */

.footer-links{

  display:flex;

  flex-direction:column;

  gap:1.6rem;
}


/* TITLES */

.footer-links h4{

  font-size:1.8rem;

  color:var(--gold);

  margin-bottom:1.5rem;
}


/* LINKS */

.footer-links a,
.footer-links span{

  text-decoration:none;

  color:#4f5860;

  font-size:1.55rem;

  transition:.3s ease;
}

.footer-links a:hover{

  color:var(--gold);

  transform:
  translateX(.4rem);
}


/* =========================
FOOTER BOTTOM
========================= */

.footer-bottom{

  margin-top:7rem;

  padding-top:3rem;

  text-align:center;

  border-top:
  .1rem solid rgba(0,0,0,.08);

  color:#667079;

  font-size:1.45rem;
}
