/* =========================
FOOTER
========================= */

.site-footer{

  background:#111111;

  padding:10rem 7% 4rem;

  border-top:
  .1rem solid rgba(198,168,106,.14);
}


/* =========================
FOOTER CONTAINER
========================= */

.footer-container{

  width:min(140rem,100%);

  margin:auto;

  display:grid;

  grid-template-columns:
  1.5fr 1fr 1fr 1fr;

  gap:5rem;
}


/* =========================
BRAND
========================= */

.footer-brand{

  max-width:42rem;
}


.footer-logo{

  width:7rem;
  height:7rem;

  display:flex;
  align-items:center;
  justify-content:center;

  border-radius:2rem;

  background:#171717;

  border:
  .1rem solid rgba(198,168,106,.20);

  color:var(--gold-light);

  font-size:2.2rem;

  font-family:'Cinzel', serif;

  font-weight:700;

  margin-bottom:2rem;
}
/* =========================
FOOTER LINKS
========================= */

.footer-links{

  display:flex;

  flex-direction:column;

  gap:1.6rem;
}


.footer-links h4{

  font-size:1.8rem;

  color:#b89b6b;

  margin-bottom:1.5rem;
}


.footer-links a,
.footer-links span{

  text-decoration:none;

  color:#d7cfc1;

  font-size:1.55rem;

  transition:.3s ease;
}


.footer-links a:hover{

  color:#b89b6b;

  transform:
  translateX(.4rem);
}


/* =========================
FOOTER BOTTOM
========================= */

.footer-bottom{

  margin-top:7rem;

  padding-top:3rem;

  text-align:center;

  border-top:
  .1rem solid rgba(255,255,255,.08);

  color:#918574;

  font-size:1.45rem;
}
