/* =========================
HERO
========================= */

.hero{

  width:100%;

  min-height:100vh;

  display:flex;

  align-items:center;

  justify-content:center;

  text-align:center;

  padding:12rem 7%;

  background:
  linear-gradient(
    rgba(245,241,232,.78),
    rgba(236,228,214,.84)
  ),
  url("../assets/images/banner1.png");

  background-size:cover;

  background-position:center;

  background-repeat:no-repeat;
}


/* HERO CONTENT */

.hero-content{

  max-width:100rem;
}


/* MINI TITLE */

.hero-mini{

  display:inline-block;

  margin-bottom:2.4rem;

  color:var(--gold-soft);

  font-size:1.5rem;

  letter-spacing:.3rem;

  text-transform:uppercase;
}


/* MAIN TITLE */

.hero h1{

  font-size:7rem;

  margin-bottom:3rem;

  line-height:1.15;

  color:var(--gold-soft);
}


/* HERO TEXT */

.hero p{

  max-width:80rem;

  margin:auto;

  margin-bottom:4rem;

  font-size:2.3rem;

  color:var(--text-dark);
}


/* BUTTONS */

.hero-buttons{

  display:flex;

  align-items:center;

  justify-content:center;

  gap:2rem;

  flex-wrap:wrap;
}
