/* =========================
MENU OVERLAY
========================= */

.menu-overlay{

  position:fixed;

  inset:0;

  z-index:9999;

  opacity:0;

  visibility:hidden;

  display:flex;

  align-items:flex-start;

  justify-content:center;

  padding:5rem 2rem;

  background:
  rgba(17,17,17,.82);

  backdrop-filter:
  blur(12px);

  transition:.35s ease;
}


/* ACTIVE */

.menu-overlay.active{

  opacity:1;

  visibility:visible;
}


/* =========================
MENU PANEL
========================= */

.menu-panel{

  width:min(120rem,92%);

  min-height:70vh;

  background:#f3ede2;

  border-radius:3rem;

  padding:4rem;

  box-shadow:
  0 2rem 5rem
  rgba(0,0,0,.28);
}
