/* =========================
TEST MENU
========================= */

.menu-overlay{

  position:fixed !important;

  inset:0 !important;

  z-index:999999 !important;

  display:none !important;

  background:red !important;
}


.menu-overlay.active{

  display:flex !important;

  align-items:center !important;

  justify-content:center !important;
}


.menu-panel{

  width:80% !important;

  min-height:70vh !important;

  background:white !important;

  border:1rem solid blue !important;

  display:block !important;

  opacity:1 !important;

  visibility:visible !important;

  position:relative !important;

  z-index:999999 !important;
}
