/* =========================
HOME PAGE
========================= */


/* =========================
HOME PAGE WRAPPER
========================= */

.home-page{

  background:var(--cream);
}


/* =========================
INDEX SECTION SYSTEM
========================= */

.research-gateway-section,
.revelation-project-section,
.researcher-section,
.publication-section,
.research-domains-section,
.academic-network-section,
.library-gateway-section{

  position:relative;

  padding:12rem 7%;
}


/* =========================
SECTION BACKGROUNDS
========================= */

.researcher-section{

  background:
  linear-gradient(
    to bottom,
    #f5efe4,
    #efe7d8
  );
}

.publication-section{

  background:#f8f4eb;
}

.research-domains-section{

  background:#f3ede2;
}

.academic-network-section{

  background:
  linear-gradient(
    to bottom,
    #f8f4eb,
    #efe5d5
  );
}
